html, body, h1, h2, h3, h4, nav, aside, picture, section, main, article, footer, p, ul, li, a, table, tr, th, td img { 
    /* this CSS reset removes any default borders, margins or paddings from all tags I have used, so as to not interfere with my stylings. */
    margin: 0;
    border: 0;
    padding: 0;
}   

body {
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; /*sets all font in the body to Arial, for easy of reading */
    background-color: floralwhite; /*sets the background colour of the website*/
}
div.Title{
	display: flex;
	align-items: center;
}
div.Title h1{
    float: left;
}
div.UnityBox{
  margin-top: -20px;
  float: right;
  right: 0px;
  
}
div.UnityCredit{
    float: left;
    left: 0px;
    margin: -20px;
    margin-top: -40px;
  }
   
    
h1, h2, h3, h4{
    font-family: "Times New Roman", Times, serif; /* sets all headers to have times new roman as their font, to ad style. */
    color: #50A0F3; /*sets all headers to a light blue colour, */
}

h1 {
	margin: 10px;
	font-size: 3em;
    /* here i have added a margin of 10 pixels to make sure there is a buffer between my title and the top left corner of the screen. I have set its size to 3 times em or 48 px so that it is big and stands out on the page*/ 
}
h2 {
    text-align: center; /* centres my "about me" header at the top of my about me table.*/
    font-size: 2.5em   /*sets the text size to 2.5 * em or 40px*/
}
h3 {
    text-align: center; /* centres my "about me" header at the top of my about me table.*/
    font-size: 2em; /*sets the text size to 2 * em or  32px*/
}
h4 {
	font-size: 1.6em; /*sets the text size to 1.6 * em */
    padding-top: 30px; /*adds padding at the top of my h4 header to leave space between the main text on the about me page and this header*/
	
}
h4.left  {
	font-size: 1.6em; /*sets the text size to 1.6 * em */
    padding-top: 20px;
    padding-left: 20px;  /*adds padding at the top of my h4 header to leave space between the main text on the about me page and this header*/
	text-align: left;

}
h5.left  {

    padding-left: 20px; 
    text-align: left;
}
header {
    position: fixed; 
	top: 0;  /* these two commands fixed the header box to the top of the screen, even when scrolling, so the viewer can always see navbar */
    width: 100%; /*sets width of the header box to 100% of the width of the window/screen*/
    background-color: floralwhite; /*sets background colour of the header to the same as the website. */
    z-index: 99; /* set the priority to high so it appears above other elements when scrolling down*/
   
}

nav ul {
    list-style-type: none; 
/*removes styling from the lists, such as underlining*/
    margin-top: 10px; 
 
/* adds a margin to leave a gap between my title and the nav bar*/ 
    background-color: #3C3C3C;
    display: table; 
/*displys the list as a table with rows that will stay 100% of the width and neat cells for the list items*/
    width: 100%; 
/*sets width of the Navbar to 100% of the width of the window/screen*/
}
nav ul li a {
    color: white; /*sets the Nav bar text to white*/
	text-align: center; /*centre Aligns the text in the nav bar */ 
	text-decoration: none; 
/*removes styling from the lists attributes, such as underlining*/
    font-size: 0.9em;
	background-color: #3C3C3C;
	float: left; /* nav bar items are floated left so they appear inline horizontally*/
	/*display: inline-block; /*displays nav attributes as a block so they appear as the size of their cell and not just the size of the text*/
    padding: 15px 15px; /*padding to make the box contacting each nav list attribute bigger*/
}
nav ul li a.CurrentPage {
	background-color: #50A0F3; /*sets the cell contacting the link to the current page on the nav bar to light blue. this make it stand out compared to the others, so it is easy to see what is the current page */
	color: white;
}
nav ul li a:hover {
	background-color: white;
	color: black;
    /*changes the background colour to white and the text ot black when you move the mouse of a link in the navigation bar*/
}


aside h2  {
	text-align: center; /*centres the heading of the about me table */
	font-size: 2em;
}	
aside th {
	text-align: left;
	font-size: 1.2em;
	padding:2px;
	padding-right:10px;
}
aside td {
	padding: 2px;
    text-align: left
}

aside.aboutSu {
	float: left; /*floats my about me table to the left so it can be inline horizonal with my picture and welcome section */
	overflow: visible; /*makes sure the about table is always visible and info does not get cut off*/ 
    padding-bottom: 50px;
    margin-top: 40px;
    margin-left: 5px; /*adds a margin to the left of my "about me" table so it does not touch the side */ 
    margin-right: 15px; /*adds a margin to the right of my "about me" table so it does not touch the text in the welcome section   */ 
    border: 5px; /*adds a 5-pixel border round my about me table*/ 
    border-style: outset; /*outset border to add a light 3d affect*/
    border-color:#50A0F3; 
}


picture.aboutAs {
    margin-top: 40px;
	float: right; /*floats the picture of me to the right so it can be inline horizonal on the right side of my About me table and welcome section*/
    padding-top: 8px; /*padding to keep the picture in line horizontally with the other elements on that line*/
    padding-bottom: 40px;
    margin-bottom: 20px;
    
}
picture.aboutAs img {
	 /*image is rotate 90deg as for some reason it imported landscape*/
	width: 200px; 
	height:256px;
    /*sets the width and height of the image*/
	border-radius: 90%;
    /*transform:rotate(90deg);*/
    
    
}

picture {
    float: right; /*floats all images on subject pages to the right so they can be inline horizonal on the right-hand side of their accompanying paragraphs*/
    margin-left: 15px;
    margin-right: 8px;
}
picture p{
    width: 450px;
    word-wrap: normal;
    padding-bottom:10px;
    
}
picture img{
    width: 450px; 
    height: 240px;
    /*sets the width and height of all images on my subject pages */ 
    border: 1px solid black; 
    /*sets a 1 pixel thick black border around all images on my subject pages */
}
section{
    margin-top: 180px; 
    /*sets a big margin at the top of the sections so my nav bar does not go over my page heading contacted in the section*/
    margin-right: 20px;
    margin-left: 20px;
    
    
}
section h3 {
    margin-top: 40px;
    text-align: center;
    font-size: 3em;
    color: #50A0F3;
    padding-bottom: 30px;
}

section.aboutSe {

	font-size: 1.2em;
    margin-top: 180px;
    overflow: hidden; 
    text-align: center;
}
section.aboutSe p {
    padding-left: 4px; 
    padding-right: 4px;
    text-align: center;
}
section.flex-contaner {
	
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
section.flex-contaner > div{
	
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 6px;
    padding: 10px;
    background-color: rgb(241, 236, 241); 
    border-radius: 20px;
    width: 580px;
}

section.flex-contaner p{
    text-align: center;
    margin: 10px;
    
}
picture.flex-pic {
    
    margin: 0px;
    
}
picture.flex-pic img{
    width: 580px;
    height: 300px;
    margin: 0px;
    
}
section.buffer{
    margin-bottom: 5px;
}


    
    /*padding so my image captions don't go of the screen*/

main{
    display:inline-block;
    margin-bottom: 70px;
    width: 100%
}
main.aboutMa {
	clear: left;
	display: block;
    padding-top: 70px;
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
    text-align: justify;
}


article {
    overflow: hidden; /*set to hidden so the text in this box can fit and keep to the left-hand side of the images i have floated to their right*/
    padding-top: 10px;
    font-size: 0.9em;
	padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
}
article p{
    font-size: 1.1em;
}

article.Atable {
    clear: both; /*returns to normal layout by clearing floats*/
    border: 0px;
	margin-top: 10px;
	margin-bottom: 80px;
	padding-bottom: 100px;
	width: 100%; 
    overflow: visible;
}
article.Atable table {
	border: 3px solid black; 
/*sets a black 3 pixel fix border round my education table */
	border-collapse: collapse; /*collapses the borders between cells into one*/
	margin: auto; /*centres the table horizontally*/
	margin-bottom: 140px;
	padding:0px
}
article.Atable table tr {
	border: 1px solid black;
}
article.Atable table tr th {
	padding-left: 10px;
	padding-right: 10px;
	text-align: center; /*centres the table headings*/
	border: 3px solid black;
    font-size: 1.5em;
	
}
article.Atable table tr td {
	Padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border: 1px solid black;
	margin-left: 4px;
    font-size: 1.2em;
}
article.Atable h4{
	text-align: center;
	margin-bottom: 30px;
}

footer {
	position: fixed;
	bottom: 0; 
	/* these two commands fixed the footer to the bottom of the screen, even when scrolling, so the viewer can always see the footer not matter where on the pag they are */
    width: 100%;
    height: 5%;
    /*sets the width of the footer to the width of the screen/window*/
	background-color:#3C3C3C;
	border: 2px;
	border-color: #f2f2f2; 
}
footer img {
	float: left;
	margin:auto;
    width: 180px;
    height: 60px;
}
footer p {
	margin: auto;
	color: white;
	position: absolute;
	bottom: 22px;
	right: 15px;
    /*sets the "created by Daniel Standring  " 22px up from the bottom of the page and 15px to the right, so it stays near the bottom right of the page on the footer*/
}


main{
    text-align: center;
}


@media only screen and (max-width: 1000px){ /*media query for when the window is not full screen or for not widescreen monitors. these stylings will able when the screen is under 1000px wide)*/
    section.aboutSe {
        width:95%;
        z-index: 99;
        font-size: 1em;
    }
    picture.aboutAs {
        margin: auto;
        margin-top: 250px;
        margin-bottom: 40px;
        padding: 0px;
    }
    picture.aboutAs img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    aside.aboutSu{
        margin: 0px;
        margin-top: 230px;
        margin-bottom: 20px;
        padding: 0px;
        width: 49%;
    }
    article table{
        width: 90%;
        font-size: 0.9em;
        
}


@media only screen and (max-width: 700px){  /* media query for mobile/tablet screens, screens less than 700 px wide these stylings will able when the screen is  under 700px wide)*/
    /*with these media queries, most of the boxes have been made 100% of the width as the normal lay would be to wide at this size. by making them around 100% of the width content will now apper one after the other vertically, padding and margins also need to be changed to keep layout working.  */
    h1{
		font-size:1.5em;
	}
	nav ul li a{
		font-size: 0.8em;
        
	}
	section.aboutSe {
        width: 90%;
        z-index: 99;
        font-size: 1em;
		margin: auto;
		margin-top: 10px;
        border-left: 4px;
        border-right: 4px;
    }
	section {
		margin: auto;
		margin-top: 230px;
		width: 100%;
		padding-left: 5px;
		padding-right: 5px;
	}
    section h3{
        margin-left: 1px;
        margin-right:2px;
    }
	article {
		width: 100%;
		overflow: auto;
		margin: 0;
        margin-top: 20px;
		
	}
    picture.aboutAs {
		padding: 0;
        overflow: visible;
        margin-top: 260px;
        margin-bottom: 60px;
    }

	picture {
		width: 100%;
        
	}

    aside.aboutSu{
        padding: 0;
		padding-bottom: 5px;
		padding-left: 20px;
		width: 90%; 
		margin: auto;
		margin-bottom: 20px;
    }
	article.Atable{
		padding-bottom:0;
		margin-bottom: 10px;
	}
	article table{
		font-size: 0.5em;
		width: 93%;
		margin-left: 0;
		margin-right: 5px;
		padding-left: 0;
		padding-bottom: 0;
		margin-bottom: 20px;
	}
	article {
		width: 95%;
		padding-left:5px;
		padding-right:5px;
	}
	footer p{
		font-size: 0.7em;
        position: absolute;
        right: 2px;
        /* position absolute and right 2px makes sure my my name stays in the bottom right corner of the screen, on the footer.*/
    }
    footer img {
    width: 160px;
    height: 50px;
    }
}


@media only screen and (max-width: 375px)/* media query for mobile or other devices with screens less than 350px wide. These stylings will able when the screen is under 350px wide)*/ {
    nav ul li a{
		font-size: 0.6em;
    }
    section {
        padding-top: 15px;
    }
}}